<div class="container">
	<h1>SELL HISTORY</h1><br/>
	<% if @c.empty? %>
		<h2>No sale has been made!</h2>
	<% else %>
		<% @c.each do |s| %>

			<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">	
		      <img class="card-img-top" src="img/<%= Sheet.first(:id => s.sheet_id).file_path %>">	
		      <div class="card-header"><%= Sheet.first(:id => s.sheet_id).title %></div>
		      <div class="card-body">
		        <h5 class="card-title"><%= s.charge %></h5>
		        <p class="card-text">Buyer: <%= s.buyer %></p>
		        <p class="card-text"><%= s.created_at %></p>
		      </div>
		    </div>
		<% end %>
	<% end %>
</div>